.myform{
  width:500px;
  
}
@media screen and (max-width:990px){
  .login-form{
    background: rgba(12, 14, 41, .880);
    padding: 20px;
    border: solid black 5px;
    border-radius: 15px;
  }
}

.login, .signup{
  background-image: url(./sample2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.homeBG{
  background-color: bisque;
}

.labelBG{
  opacity: .75;
}

.hdrSize{
  font-size: 100px;
  font-family: 'Satisfy', 'sans-serif',cursive;
  letter-spacing: 1rem;
}

.homehdr{
  background-color: rgb(12, 14, 41);
  font-family: 'Satisfy', 'sans-serif',cursive;
  height:200px;
}

.footerlogo{
  font-family: 'Satisfy', 'sans-serif',cursive;
  font-size: 50px;
}

.homehdrInner{
  font-family: 'Satisfy', 'sans-serif',cursive;
}

.navBarStyle{
  font-family: 'Satisfy', 'sans-serif',cursive;
  background-color:rgb(253, 207, 55);
}


.space{
  letter-spacing: .2rem;
  font-family: 'Satisfy', 'sans-serif', cursive;
  font-size: 30px;
  opacity: 1;
}

.formHdr{
  letter-spacing: .2rem;
  font-family: 'Satisfy', 'sans-serif', cursive;
  font-size: 40px;
}

.homeImgSize{
  object-fit:cover;
  width:500px;
  height:500px;

}

.cardHome{
  width: '25rem';
  font-family: 'Merienda', cursive;
}


.foodCards:hover{
opacity: .9;
}
.foodCardImgOv{
  background-color: orange;
  
  height: 20%;
  opacity: .9;
  font-family: 'Merienda', cursive;
  color: white;
  
 }

.topTheme, .breakfastTheme{
  font-size: 35px;
  font-family: 'Merienda', cursive;
 
  border-top: solid 4px;
  font-family:'Rockwell', 'Times New Roman', Times, serif;
}

.breakfastTheme{
  color:orange;
}

.breakfastThemeHome{
  border: solid 4px orange;
  border-radius: 50%;
  color: orange;
}

.breakfastButton{
background-color: orange;
border: solid orange;
border-radius: 5px;
padding:5px;
text-align: center;
transition-duration: 0.4s;
text-decoration: none;
}

.breakfastButton:hover{
  background-color: rgb(234, 154, 6);
  border: solid rgb(234, 154, 6);
  
}

.icons{
  color:black;
  font-family: 'Merienda', cursive;
}

.carouselStyle{
  min-height:'70%';
}

.footerStyle{
  border-top: solid 5px rgb(12, 14, 41);
}

footer{
  background-color: rgb(12, 14, 41);
  color: white;
}

i{
  color:white;
  font-size: 2rem;
  padding-left: 5px;
  padding-right: 5px;
}