.myform{
  width:500px;
  
}

.login, .signup{
  background-image: url(./sample2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.labelBG{
  opacity: .75;
}

.hdrSize{
  font-size: 100px;
  font-family: 'Satisfy', 'sans-serif',cursive;
  letter-spacing: 1rem;
}

.space{
  letter-spacing: .2rem;
  font-family: 'Satisfy', 'sans-serif', cursive;
  font-size: 30px;
  opacity: 1;
}

.formHdr{
  letter-spacing: .2rem;
  font-family: 'Satisfy', 'sans-serif', cursive;
  font-size: 40px;
}